In [1]:
import numpy as np
import pandas as pd

In [2]:
# Get multiple outputs in the same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# To supress future warnings
import warnings
warnings.filterwarnings('ignore')
warnings.filterwarnings(action='ignore', category=DeprecationWarning)

In [3]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.max_colwidth',2000)
pd.options.display.float_format='{:.2f}'.format

**Read the Cleaned data from Excel**

In [4]:
data = pd.read_csv('../output/CleanedData.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88910 entries, 0 to 88909
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan ID                       88910 non-null  object
 1   Customer ID                   88910 non-null  object
 2   Loan Status                   88910 non-null  object
 3   Current Loan Amount           88910 non-null  float64
 4   Term                          88910 non-null  object
 5   Credit Score                  88910 non-null  float64
 6   Years in current job          88910 non-null  int64
 7   Home Ownership                88910 non-null  object
 8   Annual Income                 88910 non-null  float64
 9   Purpose                       88910 non-null  object
 10  Monthly Debt                  88910 non-null  float64
 11  Years of Credit History       88910 non-null  float64
 12  Months since last delinquent  88910 non-null  float64
 13  Number of Open Accounts       88910 non-null  int64
 14  Number of Credit Problems     88910 non-null  int64
 15  Current Credit Balance        88910 non-null  float64
 16  Maximum Open Credit           88910 non-null  float64
 17  Bankruptcies                  88910 non-null  float64
 18  Tax Liens                     88910 non-null  float64
dtypes: float64(10), int64(3), object(6)
memory usage: 12.9+ MB

### Data Preprocessing

#### **Dropping Loan ID and Customer ID Features**

In [6]:
data = data.iloc[:,2:]
data.head()

    Loan Status  Current Loan Amount        Term  Credit Score  Years in current job Home Ownership  Annual Income             Purpose  Monthly Debt  Years of Credit History  Months since last delinquent  Number of Open Accounts  Number of Credit Problems  Current Credit Balance  Maximum Open Credit  Bankruptcies  Tax Liens
0  Loan Refused             12232.00  Short Term        997.50                     1           Rent       46643.00  Debt Consolidation        777.39                    18.00                         10.00                       12                          0                 6762.00              7946.00          0.00       0.00
1  Loan Refused             25014.00   Long Term        997.50                    10  Home Mortgage       81099.00  Debt Consolidation        892.09                    26.70                         32.00                       14                          0                35706.00             77961.00          0.00       0.00
2  Loan Refused             16117.00  Short Term        997.50                     9  Home Mortgage       60438.00   Home Improvements       1244.02                    16.70                         32.00                       11                          1                11275.00             14815.00          1.00       0.00
3  Loan Refused             11716.00  Short Term        997.50                     3           Rent       34171.00  Debt Consolidation        990.94                    10.00                         32.00                       21                          0                 7009.00             43533.00          0.00       0.00
4  Loan Refused              9789.00   Long Term        997.50                    10  Home Mortgage       47003.00   Home Improvements        503.71                    16.70                         25.00                       13                          1                16913.00             19553.00          1.00       0.00

####  **Encoding Categorical Features**
  - Loan Status
  - Term
  - Home Ownership
  - Purpose

In [7]:
columns_to_be_encoded = ['Loan Status', 'Term', 'Home Ownership', 'Purpose']

In [8]:
for feature in columns_to_be_encoded:
    if data[feature].dtype == 'object': 
        print('\n')
        print('feature:',feature)
        print(pd.Categorical(data[feature].unique()))
        print(pd.Categorical(data[feature].unique()).codes)
        data[feature] = pd.Categorical(data[feature]).codes
        
data.info()

feature: Loan Status
['Loan Refused', 'Loan Given']
Categories (2, object): ['Loan Given', 'Loan Refused']
[1 0]


feature: Term
['Short Term', 'Long Term']
Categories (2, object): ['Long Term', 'Short Term']
[1 0]


feature: Home Ownership
['Rent', 'Home Mortgage', 'Own Home']
Categories (3, object): ['Home Mortgage', 'Own Home', 'Rent']
[2 0 1]


feature: Purpose
['Debt Consolidation', 'Home Improvements', 'other', 'Business Loan', 'small_business', ..., 'vacation', 'major_purchase', 'Educational Expenses', 'wedding', 'renewable_energy']
Length: 15
Categories (15, object): ['Business Loan', 'Buy House', 'Buy a Car', 'Debt Consolidation', ..., 'renewable_energy', 'small_business', 'vacation', 'wedding']
[ 3  5 10  0 12  9  2  6  1  7 13  8  4 14 11]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88910 entries, 0 to 88909
Data columns (total 17 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Loan Status                   88910 non-null  int8
 1   Current Loan Amount           88910 non-null  float64
 2   Term                          88910 non-null  int8
 3   Credit Score                  88910 non-null  float64
 4   Years in current job          88910 non-null  int64
 5   Home Ownership                88910 non-null  int8
 6   Annual Income                 88910 non-null  float64
 7   Purpose                       88910 non-null  int8
 8   Monthly Debt                  88910 non-null  float64
 9   Years of Credit History       88910 non-null  float64
 10  Months since last delinquent  88910 non-null  float64
 11  Number of Open Accounts       88910 non-null  int64
 12  Number of Credit Problems     88910 non-null  int64
 13  Current Credit Balance        88910 non-null  float64
 14  Maximum Open Credit           88910 non-null  float64
 15  Bankruptcies                  88910 non-null  float64
 16  Tax Liens                     88910 non-null  float64
dtypes: float64(10), int64(3), int8(4)
memory usage: 9.2 MB

In [9]:
data.to_csv('../output/PreProcessedData.csv', index=False)